*.userosscache
*.sln.docstates
*.orig
**\*.vs

*.assets.cache

*.userprefs

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
Core/StockViewer/.vs/StockViewer/v16/.suo
*.testlog
*.cache
Core/StockViewer/.vs/
*.manifest
*.cache
*.cache
*.v2
Core/StockViewer/StockViewer.Domain.Tests/obj/
Core/StockViewer/.vs/StockViewer/v16/.suo
